#chatlog{
	overflow: hidden;
	.left {
	position: relative;
	clear:both;
	margin-right:auto;
	margin-bottom: 20px;
	margin-left: 10px;
	padding: 20px;
	width: 90%;
	border: 1px solid #eaeaea;
	background: #f3f3f3;
	}
	.left:after, .left:before {
		position:absolute;
		right: 100%;
		width: 0;
		height: 0;
		border: solid transparent;
		content: " ";
		pointer-events: none;
	}
	.left:after {
		top: 50%;
		margin-top: -10px;
		border-width: 10px;
		border-color: rgba(136, 183, 213, 0);
		border-right-color: #f3f3f3;
	}
	.left:before {
		top: 50%;
		margin-top: -13px;
		border-width: 13px;
		border-color: rgba(194, 225, 245, 0);
		border-right-color: #eaeaea;
	}
	.right{
	position: relative;
	clear:both;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-left:auto;
	padding: 20px;
	width: 90%;
	border: 1px solid #eaeaea;
	background: #f7f4ea;
	}
	.right:after, .right:before {
	position:absolute;
	left: 100%;
	width: 0;
	height: 0;
	border: solid transparent;
	content: " ";
	pointer-events: none;
	}
	.right:after {
		top: 50%;
		margin-top: -10px;
		border-width: 10px;
		border-color: rgba(136, 183, 213, 0);
		border-left-color: #f7f4ea;
	}
	.right:before {
		top: 50%;
		margin-top: -13px;
		border-width: 13px;
		border-color: rgba(194, 225, 245, 0);
		border-left-color: #eaeaea;
	}
	h1,h2,h3,h4,pre{
		clear: both;
	}
}

@media screen and (min-width: 1024px) {

}
@font-face {
	font-family: 'icon-font';
	src: url("../font/EFON.eot");
}
@font-face {
	font-family: icon-font;
	src: url("../font/EFON.otf") format("otf"), url("../font/EFON.ttf") format('truetype');
}
.icon1,.icon2,.icon3,.icon4,.icon5,.icon6,.icon7,.icon8,.icon9,.icon10,.icon11,.icon12,.icon13,.icon14 {
	float:left;
	padding-right: 10px;
	font-size: 40px;
	font-family: icon-font,rial, sans-serif;
}
.icon1  {
	color: #a76fb9;
}
.icon2  {
	color: #fa4608;
}
.icon3  {
	color: #96c72e;
}
.icon4  {
	color: #009453;
}
.icon5  {
	color: #fccd23;
}
.icon6  {
	color: #009452;
}
.icon7  {
	color: #c80e71;
}
.icon8  {
	color: #d92239;
}
.icon9  {
	color: #2b5da9;
}
.icon10  {
	color: #d11a55;
}
.icon11  {
	color: #f7b01f;
}
.icon12  {
	color: #d1e62c;
}
.icon13  {
	color: #3d83f0;
}
.icon14  {
	color: #00a08d;
}