// WordPress need
.wp-caption,
.wp-caption-text,
.gallery-caption,
.entry-caption,
.bypostauthor,
.sticky
{
	max-width: 100%;
}
.alignleft {
	float: left;
	margin-right: 10px;
}
.alignright {
	float: right;
	margin-left: 10px;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

*{
    @include box-sizing(border-box); //はみ出さないように
    word-break: break-all; 
}
img {
    max-width: 100% !important; //画像がはみ出さないように
    height: auto;
}
embed,iframe {
	max-width: 100%; //Youtubeとかがはみ出さないように
}

// custom setting
$body-font-color: #222;
$body-font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;

// custom css-------------------

//base
body{
	color:$body-font-color;
	font-family:$body-font-family;
}
h1, h2, h3, h4, h5, h6 {
	color:#444;
	font-family:$body-font-family;
}
.full{
	width: 100%; 
}
.mb{
	margin-bottom: 20px;
}
.np{
	padding: 0;
}
img.left{
	margin-right: 10px;
}
img.right{
	margin-left: 10px;
}

//layout
.cover{
	background-color: #fedeef;
	padding: 40px 0;
	width: 100%;
	overflow: hidden;
	.title{
		color: #fff;
	}
}
.main-content{
	margin-top: 20px;
	p,li{
		line-height: 1.5;
		font-size: 1.1rem;
		color: #595959;
	}
	p{
		margin-bottom: 2rem;
	}
	h2 {
		border-left: 8px solid;
		padding: 10px 10px 10px 15px;
		margin: 30px 0 10px 0;
		&.entry-title{
			border:none;
			padding: 0;
			margin: 0.2rem 0 0.5rem 0;
			font-size: 1.8rem;
		}
	}
	h3 {
		border-bottom: 1px dashed #ccc;
		background-color: #f9f9f9;
		padding: 10px;
	}
	h4{
		border-bottom: 1px dashed #ccc;
	}
	//blockquote
	blockquote {
		background: #f9f9f9;
		border-left: 8px solid #ccc;
		margin: 1.5em 10px;
		padding: 0.5em 10px;
		quotes: "\201C""\201D""\2018""\2019";
	}
	blockquote:before {
		color: #ccc;
		content: open-quote;
		font-size: 4em;
		line-height: 0.1em;
		margin-right: 0.25em;
		vertical-align: -0.4em;
	}
	blockquote p {
		display: inline;
	}
	pre{
		background: #f9f9f9;
		padding: 20px;
		-ms-word-break: break-word;
		word-break: break-word;
	}
	.sbver{
		overflow: hidden;
		margin: 20px 0;
		ul{
			margin: 0;
			li{
				display: inline;
				float: left;
				margin-right: 5px;
			}
		}
	}
	span {
		&.r{
			font-size: 130%;
			color: #d92239;
		}
		&.g{
			font-size: 130%;
			color: #009452;
		}
		&.b{
			font-size: 130%;
			color: #2b5da9;
		}
		&.p{
			font-size: 130%;
			color: #ff6d7f;
		}
	}
	.next_bt {
	padding: 10px;
	display: block;
	background-color: #2c3e50;
	color: #fff;
	width: 80%;
	text-align: center;
	margin: 0 auto;
	clear: both;
	}
}
.site-footer{
	margin-top: 50px;
	background-color: #333;
	color: #fff;
	padding: 20px 0;
	.row{
		margin-bottom: 0;
	}
	a{
		color: #7d7d7d;
		&:hover{
			text-decoration: underline;
		} 
	}
	h4{
		color: #fff;
	}
}

.main-img{
	padding: 150px 0;
	background-color: #eee;
	h1,h2,h3,h4{
		color: #FFF; 
	}
}
.title{
	text-align: center;
	margin-bottom: 40px;
}
.panel.np {
	p,h4{
		padding: 10px 10px 0 10px;
		margin: 0;
	}
}
.post-meta li {
	display: inline;
	margin-left: 20px;
	}
.meta-nav.button {
	background-color: #2c3e50;
}
.pagination.loop-pagination {
text-align: center;
}
.page-numbers {
	padding: 10px;
	background-color: #E9E9E9;
	display: inline-block;
	border: 1px solid #ccc;
}
.prime-banner-top,.prime-banner-bottom{
	margin-bottom: 50px
}
#comments-list {
	.vcard {
		margin: 0;
		border: none;
		padding: 0;
	}
	.comment-body{
		border-top: 1px solid #ccc;
	}
}
.avatar img {
	float: left;
	margin-right: 10px;
}
.user.with-name.with-biography {
	overflow: hidden;
	margin-bottom: 20px;
}
.shortcode-author-avatars .author-list {
	float: none;
	width: auto;
	padding-bottom:0;
}
.shortcode-author-avatars div.author-list .user {
	display: block;
	float: none;
	padding: 0;
	text-align: left;
}

@media screen and (max-width: 500px) {
	.main-img {
		padding: 20px 0;
		&.mb{
			margin-bottom: 10px;
		}
	}
	.prime-banner-top,.prime-banner-bottom{
		margin: 0 -15px 20px -15px;
	}
	.main-content{
		margin-top: 10px;
		p,li{
			line-height: 1.5;
			font-size: 1rem;
		}
		h1,h2,h3,{
			font-size: 1.375rem;
		}
		blockquote {
			margin: 1.5em 0;
		}
	}
	.avatar img {
		width: 50px;
		height:50px;
	}
}
