.entry-content{
	h1,h2{
		margin-top: 30px;
	}
	h3,h4{
		margin-top: 30px;
	}
	h1{
		background-color: $silver;
		padding: 10px;
	}
	h2{
		border-bottom: 1px solid $silver;
	}
	h3{
		border-left: 5px solid $silver;
		padding: 5px 0 5px 10px;
	}
	h4{
		border-bottom: 1px solid $silver;
	}
	h5{
		font-weight: bold;
		margin-top: 30px
	}
}