@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'icomoon';
	src:url('../font/icomoon.eot?-1441bc');
	src:url('../font/icomoon.eot?#iefix-1441bc') format('embedded-opentype'),
		url('../font/icomoon.woff?-1441bc') format('woff'),
		url('../font/icomoon.ttf?-1441bc') format('truetype'),
		url('../font/icomoon.svg?-1441bc#icomoon') format('svg');
}

[class^="icon-"], [class*=" icon-"] {
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'icomoon';
	line-height: 1;
	speak: none;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-chrome:before {
	content: "\e600";
}
.icon-HTML5_Badge:before {
	content: "\e601";
}
.icon-wpd02:before {
	content: "\e602";
}
.icon-megane2:before {
	content: "\e603";
}
.icon-megane:before {
	content: "\e604";
}
.icon-matt:before {
	content: "\e605";
}
.icon-wapu:before {
	content: "\e606";
}
.icon-wapu2012:before {
	content: "\e607";
}
.icon-wapu2013:before {
	content: "\e608";
}
.icon-wp02:before {
	content: "\e609";
}
.icon-wpd01:before {
	content: "\e60a";
}
