.WPD-Red{
	background-color:red;
	color: #fff;
}
.WPD-Gold{
	background-color:#daa520;
}
.WPD-Black{
	background-color:#000;
	color: #fff;
}
.WPD-Pink{
	background-color:#ffc0cb;
	color: #fff;
}
.WPD-Olive{
	background-color:#808000;
	color: #fff;
}
.WPD-Grey{
	background-color:#333;
	color: #fff;
}
.WPD-Gray{
	background-color:#333;
	color: #fff;
}
.WPD-Green{
	background-color:green;
	color: #fff;
}
.WPD-Purple{
	background-color:purple;
	color: #fff;
}
.WPD-Blue{
	background-color:blue;
	color: #fff;
}
.WPD-lime{
	background-color:#00FF00;
}
.WPD-Brown{
	background-color:#a52a2a;
	color: #fff;
}
.WPD-White{
	background-color:#fff;
		}
.WPD-Yellow{
	background-color:yellow;
}
.WPD-Orange{
	background-color:orange;
	color: #fff;
}
.WPD-Beige{
	background-color:#f5eece;
}
.WPD-Aqua{
	background-color:#00ffff;
}
.WPD-Ivory{
	background-color:#fffff0;
}
.WPD-Navy{
	background-color:#000080;
	color: #fff;
}
.WPD-Salmon{
	background-color:#fa8072;
}
.WPD-Bordeaux{
	background-color: #5a0015;
}
.WPD-Clear{
	background-color: #fff;
}
.WPD-Darkred{
	background-color: #370005;
	color: #fff;
}
.WPD-Emerald{
	background-color: #1da678;
	color: #fff;
}
.WPD-Silver{
	background-color: #d6e2ec;
}
.WPD-Violet{
	background-color: #561553;
	color: #fff;
}