doctype 5
html class="no-js" lang="ja"
	head
		meta charset="utf-8"
		meta name="viewport" content="width=device-width, initial-scale=1.0"
		title Foundaton Meganeset slim
		link rel="stylesheet" href="stylesheets/app.css"
		script src="bower_components/modernizr/modernizr.js"
	body
		== Slim::Template.new('template/header.slim').render()
		.main-img.mb
			.row
				.large-12.columns
					h1 First Message
					h3 you know me
		.row.mb
			h2.title Keep it Real
			.large-4.columns
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, fuga facere assumenda enim porro debitis nemo amet similique dicta nostrum. Quae, distinctio ea repellendus cupiditate labore quaerat sunt ex necessitatibus.
			.large-4.columns
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, fuga facere assumenda enim porro debitis nemo amet similique dicta nostrum. Quae, distinctio ea repellendus cupiditate labore quaerat sunt ex necessitatibus.
			.large-4.columns
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, fuga facere assumenda enim porro debitis nemo amet similique dicta nostrum. Quae, distinctio ea repellendus cupiditate labore quaerat sunt ex necessitatibus.
		.cover.mb
			.row
				.large-12.columns
					h1 Second Message
					h3 you know me
		.row
			.large-6.columns.mb
				img src="http://placehold.it/500x500/e58254/fff&text=Logo" alt=""
			.large-6.columns
				h1 Third Message
				h3 you know me
		.nmb
			.row
				.large-3.columns
					.panel.np
						img src="http://placehold.it/250x100/7fcc6d/fff&text=Logo" alt="" 
						h4 aaaaaaa
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, eum, similique, facere officiis odio
				.large-3.columns
					.panel.np
						img src="http://placehold.it/250x100/62cc92/fff&text=Logo" alt=""
						h4 aaaaaaa
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, eum, similique, facere officiis odio
				.large-3.columns
					.panel.np
						img src="http://placehold.it/250x100/58c0cc/fff&text=Logo" alt=""
						h4 aaaaaaa
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, eum, similique, facere officiis odio
				.large-3.columns
					.panel.np
						img src="http://placehold.it/250x100/5391cc/fff&text=Logo" alt=""
						h4 aaaaaaa
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, eum, similique, facere officiis odio
				.large-3.columns
					.panel.np
						img src="http://placehold.it/250x100/817acc/fff&text=Logo" alt=""
						h4 aaaaaaa
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, eum, similique, facere officiis odio
				.large-3.columns
					.panel.np
						img src="http://placehold.it/250x100/cb8fcc/fff&text=Logo" alt=""
						h4 aaaaaaa
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, eum, similique, facere officiis odio
				.large-3.columns
					.panel.np
						img src="http://placehold.it/250x100/cc8073/fff&text=Logo" alt=""
						h4 aaaaaaa
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, eum, similique, facere officiis odio
				.large-3.columns
					.panel.np
						img src="http://placehold.it/250x100/cca262/fff&text=Logo" alt=""
						h4 aaaaaaa
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, eum, similique, facere officiis odio
		== Slim::Template.new('template/footer.slim').render()